@keyframes showPostsBtnBack {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}

.posts{
	&__title{
		margin-bottom: 15px;
	}
	&__search-container{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 10px;
	}
	&__search{
		max-width: 400px;
		margin-right: 7px;
		@media(max-width: 430px) {
				.search-block__wrap{
					padding: 7px 30px 7px 16px;
				}
		}
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -11px -40px -11px;
	}
	&__wrap-btn{
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	&__btn{
		&_back{
			padding: 5px;
			margin-bottom: 25px;
			animation: showPostsBtnBack 4s infinite linear;
		}
		&_blue{
			padding: 3px;
			margin-bottom: 10px;
			background: blueviolet;
			border: 1px solid blueviolet;
			margin-bottom: 0;
		}
	}
}