.posts-block{
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -11px -40px -11px;
	}
	&__column{
		flex: 0 1 33.333%;
		padding: 0px 11px;
		margin-bottom: 40px;
		@media(max-width: 770px) {
			flex: 0 1 50%;
		}
		@media(max-width: 500px) {
			flex: 0 1 100%;
		}
	}
	&__pagination{
		margin-top: 40px;
	}
}

.card-post{
	overflow: hidden;
	@media(min-width: 500px) {
		border: 1px solid #E2E2E2;
		border-radius: 20px;
	}
	@media(max-width: 500px){
		display: flex;
		flex-direction: row-reverse;
		border-bottom: 1px solid #D1D1D6;
	}
	&__wrap-img{
		position: relative;
		padding: 0px 0px 83% 0px;
		@media(max-width: 500px){
			flex: 0 1 52%;
			padding: 0px 0px 45% 0px;
			margin-bottom: 7px;
		}
	}
	&__image{
		transition: transform 0.4s ease 0s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content{
		padding: 16px 16px 8px 16px;
		@media(max-width: 500px){
			flex: 0 1 55%;
			padding: 0px 15px 8px 0px;
			margin-bottom: 10px;
		}
	}
	@media(min-width: 992px) {
		&:hover{
			.card-post__image{
				transform: scale(1.1);
			}
		}
	}
}

.post-content-card{
	&__title{
		transition: color 0.3s ease 0s;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		color: black;
		margin-bottom: 5px;
		@media(min-width: 992px) {
			&:hover{
				color: #FF008A;
			}
		}
	}
	&__text{
		font-size: 17px;
		line-height: 22px;
		color: rgba(60, 60, 67, 0.6);
		text-overflow: ellipsis;
		height: 44px;
		overflow: hidden;
		margin-bottom: 16px;
		@media(max-width: 500px) {
			height: 66px;
		}
	}
}

.card-actions{
	display: flex;
	align-items: center;
	&__comment-icon{
		margin-right: 10px;
	}
	&__number-comments{
		font-size: 17px;
		line-height: 24px;
		letter-spacing: 0.5px;
		color: rgba(60, 60, 67, 0.6);
		margin-right: 13px;
	}
	&__link{
		transition: filter 0.4s ease 0s;
		@media(min-width: 992px) {
			&:hover{
				filter: drop-shadow(0px 4px 8px #FF008A);
			}
		}
	}
}

@media(max-width: 500px) {
	.posts-block__column:last-child{
		.card-post{
			border-bottom: none;
		}
	}
}
